body {
    background: #F3E1DD;
    color:#CC7178;
    font-family: 'Helvetica', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 50px;
    line-height: 150%;
}

h1 {
    color: #0B1D51;
} 

h2, h3, h4 {
    color: #89023E;
}

93B7BE